<div class="container">

	<div class="row">

		<div class="col-xs-4">
			<div class="box1 panel bg-white text">
				Attributes
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box1 panel bg-white text-small">
				<div ng-hide="showDetail1">
					Select Zipcode
				</div>
				<div ng-show="showDetail1" ng-click="showDetail1=!showDetail1">
					{{vm.srv.zip1}}
						<button type="button" class="btn btn-xs btn-primary close text">x</button>
				</div>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box1 panel bg-white text-small">
				<div ng-hide="showDetail2">
					Select Zipcode
				</div>
				<div ng-show="showDetail2" ng-click="showDetail2=!showDetail2">
					{{vm.srv.zip2}}
				</div>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box1 panel bg-white text-small">
				<div ng-hide="showDetail3">
					Select Zipcode
				</div>
				<div ng-show="showDetail3" ng-click="showDetail3=!showDetail3">
					{{vm.srv.zip3}}
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="box1 panel bg-white text-small">
				<div ng-hide="showDetail4">
					Select Zipcode
				</div>
				<div ng-show="showDetail4" ng-click="showDetail4=!showDetail4">
					{{vm.srv.zip4}}
				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-xs-4">
			<div class="box2 panel bg-white">
				<table class="table table-striped scroll">
					<tr ng-repeat="(category,data) in vm.srv.currentNeighborhood">
						<td>{{category}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box2 panel bg-white">
				<table ng-hide="showDetail1" ng-click="showDetail1=!showDetail1" class="table table-bordered">
					<tr ng-repeat="zip in vm.srv.zips">
						<td ng-click="vm.setZip(zip,1)">{{zip}}</td>
					</tr>
				</table>
				<table ng-show="showDetail1" class="table table-striped">
					<tr ng-repeat="data in vm.srv.neighborhoods[vm.srv.zip1].data">
						<td>{{data}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box2 panel bg-white">
				<table ng-hide="showDetail2" ng-click="showDetail2=!showDetail2" class="table table-bordered">
					<tr ng-repeat="zip in vm.srv.zips">
						<td ng-click="vm.setZip(zip,2)">{{zip}}</td>
					</tr>
				</table>
				<table ng-show="showDetail2" class="table table-striped">
					<tr ng-repeat="data in vm.srv.neighborhoods[vm.srv.zip2].data">
						<td>{{data}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box2 panel bg-white">
				<table ng-hide="showDetail3" ng-click="showDetail3=!showDetail3" class="table table-bordered">
					<tr ng-repeat="zip in vm.srv.zips">
						<td ng-click="vm.setZip(zip,3)">{{zip}}</td>
					</tr>
				</table>
				<table ng-show="showDetail3" class="table table-striped">
					<tr ng-repeat="data in vm.srv.neighborhoods[vm.srv.zip3].data">
						<td>{{data}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="box2 panel bg-white">
				<table ng-hide="showDetail4" ng-click="showDetail4=!showDetail4" class="table table-bordered">
					<tr ng-repeat="zip in vm.srv.zips">
						<td ng-click="vm.setZip(zip,4)">{{zip}}</td>
					</tr>
				</table>
				<table ng-show="showDetail4" class="table table-striped">
					<tr ng-repeat="data in vm.srv.neighborhoods[vm.srv.zip4].data">
						<td>{{data}}</td>
					</tr>
				</table>
			</div>
		</div>

	</div>


</div>