<div class="container">

	<div class="row">

		<div class="col-xs-2">
			<div class="row">
				<div class="box1 panel bg-white">
					<form class="form-inline" ng-submit="vm.addZip(vm.newZip)" role="form">
					  <div class="input-group">
					  	<input type="text" class="form-control" ng-model="vm.newZip" placeholder="Enter Zipcode">
					  	<span class="input-group-btn">
					  		<button type="submit" class="btn btn-sm btn-primary">Add</button>
					  	</span>
					  </div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="panel bg-white">
					<div class="panel-body">
						<table class="table table-bordered">
							<tr ng-repeat="zip in vm.srv.zips">
								<td ng-click="vm.changeCurrentNeighborhood(zip)">{{zip}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-10">
			<div class = "row>">
				<div class="box1 panel bg-white text">
					{{vm.srv.currentLocation}}
				</div>
			</div>
			<div class = "row>">
				<div class="panel bg-white">
					<div class="panel-body">
						<table class="table table-striped">
							<tr ng-repeat="(category,data) in vm.srv.currentNeighborhood">

								<td>{{category}}</td>
								<td>{{data}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>